.navbar{
    box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.2);
}

.navbar-brand{
    font-size: x-large;
    font-weight: bold;
    color: #150546;
}

.nav-item .nav-link {
    font-size: large;
    /* font-weight: 500; */
    color: #160647;
}

.loginLink , .learningPathLink{
    cursor: pointer;
}

/* .nav-item .btn{
    background-color: #6552FF;
} */

.NavbarSignUpButton{
    background-color: #6552FF;
    color: white;
    border: none;
    border-radius: 8px;
}

nav li {
    display: inline-block;
    padding: 0 15px; /* add padding to create distance between links */
  }