.cardsTop{
    width: 100%;
    padding: 20px 0px;
}

.cardsHeader{
    text-align: left;
    margin-bottom: 20px;
    color: #150546;
}

.card-img-top{
    /* width: 50px; */
    height: 200px;
}

.cards{
    display: flex;
    justify-content: space-between;
}

.cards .card {
    width: 18rem;
    /* border: 0ch; */
}