.userListTop{
    display: flex;
}

.adminPanelSidebartag{
    flex: 1;
}

.userListSecond{
    flex: 4;
}

.headingUserList{
    font-weight: 600;
font-size: 28px;
line-height: 34px;
/* identical to box height */


color: #667085;
}

.UserListTopLink1{
    font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

text-decoration-line: underline;

/* Gray/500 */

color: #667085;
}

.ApproveUser{
    border: none;
    background: none;
}

